<launch>

  <arg name="model" default="$(find slidertable_urdf)/urdf/slidertable.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find slidertable_urdf)/rviz/slidertable.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <param name="use_gui" value="$(arg gui)"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

  <node name="ffb_slider" pkg="ros_ffb_slider" type="ffb_slider_node.py"/>

  <node name="phidgets_bridge" pkg="phidgets_bridge_py" type="bridge.py" args="1 load_cell_1 ball_knob_1 132435 0.97904 2 load_cell_2 ball_knob_2 133280 0.69482"/>

  <!-- <node name="eggdroptask" pkg="cursortargettask" type="eggdrop.py"/> -->
</launch>
